<div id="popupPerfil" class="popup-perfil">
  <div class="popup-content">
    <button id="fecharPopupPerfil" class="fechar-popup">X</button>
    <form id="formPerfil">
      <label for="nomeUsuario">Nome:</label>
      <input type="text" id="nomeUsuario" disabled />

      <label for="emailUsuario">Email:</label>
      <input type="email" id="emailUsuario" disabled />

      <!-- Corte de coisas desnecessárias
      <label for="idadeUsuario">Nascimento:</label>
      <input type="date" id="idadeUsuario" disabled />

      <label for="generoUsuario">Gênero:</label>
      <input type="text" id="generoUsuario" disabled />
      -->
      <button type="button" id="btnEditar">Editar</button>
      <button type="submit" id="btnSalvar" style="display:none;">Salvar</button>
    </form>
  </div>
</div>
